{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link href="{% static 'css/base.css' %}" rel="stylesheet" type="text/css" media="all" />
    <link href="{% static 'css/master.css' %}" rel="stylesheet" type="text/css" media="all" />
    <script src="{% static "js/changepage.js" %}" type="text/javascript"></script>
    <title>个性化新闻推荐网站</title>
</head>
    <body>
    <!doctype html>
    <html>
    <head>
    <meta charset="gbk">
    <title>head</title>
    </head>

    <body>
    <script type="text/javascript">
    //得到焦点触发事件
    function OnfocusFun(element,elementvalue)
    {
        if(element.value==elementvalue)
        {
            element.value="";
            element.style.color="#555";
        }
    }
    //离开输入框触发事件
    function OnBlurFun(element,elementvalue)
    {
        if(element.value==""||element.value.replace(/\s/g,"")=="")
        {
            element.value=elementvalue;
            element.style.color="#c8c8c8";
        }
    }
    </script>
    <!--内容-->
    <div class="top">
       <dl>
          <dt>欢迎来到评论分析网！</dt>
       </dl>
    </div>
    <!-- 头部结束 -->
    <!-- 导航开始 -->
    <div class="menu">
      <ul>
         <li><a href="{% url 'comment_show' %}" class="menu_on">首页</a></li>
         <li><a href="{% url 'comment_show' %}">查看评论</a></li>
         <li><a href="{% url 'comment_analysis' %}">虚假评论分析</a></li>
      </ul>
    </div>
    <!-- 导航结束 -->
            {% block content %}
            {% endblock %}
        <div class="footer"></div>
</body>
</html>